{:logging {
   :nss [
     hxgm30
     taoensso.carmine]
   :level :debug}
 :backend {
   :plugin :redisgraph
   :redisgraph {
     :host "localhost"
     :port 6379
     :graph {
       :db :game}}}}
